body {
  padding: 0 130px;
  width: 100%;
  margin: 0;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  color: #6c7279;
  background-color: #f1f7f7;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

.main-article {
  height: 100vh;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 10vh 0;
  display: flex;
}

.header {
  width: 100%;
  height: 10vh;
  position: absolute;
  background-color: #f1f7f7;
  top: 0;
  left: 0;
  z-index: 1000;
  justify-content: center;
  display: flex;
}
.header .inner {
  width: 100%;
  align-items: center;
  padding: 15px 160px;
  display: flex;
  max-width: 1650px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.header .inner .logo {
  text-align: center;
  font-family: "Source Code Pro";
  font-weight: 600;
  font-size: 22px;
  color: #5d6b6b;
}
.header .inner .header_contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .inner .header_contacts .header_number {
  font-size: 19px;
  font-weight: 500;
  color: #5d6b6b;
}
.header .inner .header_contacts .tg {
  padding-left: 15px;
  height: 1.5vw;
}
.header .inner .header_contacts .wa {
  padding-left: 15px;
  height: 1.5vw;
}
.header .inner .nav {
  display: flex;
}
.header .inner .nav .nav__link {
  position: relative;
  padding: 8px 25px;
  margin-left: 10px;
  color: #5d6b6b;
  font-size: 15px;
  font-weight: 500;
  transition: all 370ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header .inner .nav .nav__link:before {
  content: "";
  position: absolute;
  transition: inherit;
  z-index: -1;
}
.header .inner .nav .nav__link:after {
  content: "";
  position: absolute;
  transition: inherit;
  z-index: -1;
}
.header .inner .nav .nav__link:hover {
  color: #f1f7f7;
  transition-delay: 0.5s;
}
.header .inner .nav .nav__link:hover:before {
  transition-delay: 0s;
}
.header .inner .nav .nav__link:hover:after {
  background: #5d6b6b;
  transition-delay: 0.25s;
}
.header .inner .nav .nav__link:before {
  left: 0;
  height: 0;
  width: 100%;
  bottom: 0;
  border: 2px solid #5d6b6b;
  border-top: 0;
  border-bottom: 0;
}
.header .inner .nav .nav__link:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
}
.header .inner .nav .nav__link:hover {
  color: #f1f7f7;
  transition-delay: 0.3s;
}
.header .inner .nav .nav__link:hover:before {
  height: 100%;
}
.header .inner .nav .nav__link:hover:after {
  height: 100%;
}
.header .inner .burger {
  display: none;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 9px 2px;
}
.header .inner .burger .burger__item {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: relative;
}

.content {
  background-color: rgba(189, 215, 216, 0.3);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  margin: auto;
  justify-content: center;
  overflow: visible;
  position: relative;
  display: flex;
}
.content .scroll {
  width: 105%;
  position: absolute;
  height: 100vh;
  left: -5%;
  overflow-y: scroll;
}
.content .scroll .intro {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
.content .scroll .intro .pc {
  top: 80px;
  position: absolute;
  background-size: contain;
  background-size: 55%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: 100;
}
.content .scroll .intro .intro_title {
  margin: 150px 80px auto auto;
  text-align: end;
  font-family: "Source Code Pro";
  font-weight: 500;
  font-size: 45px;
  color: #5d6b6b;
}
.content .scroll .intro .intro_text {
  margin: 100px 80px 30px auto;
  text-align: end;
  max-width: 25%;
  font-family: "Source Code Pro";
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #5d6b6b;
}
.content .scroll .text {
  width: 100%;
  height: 100%;
}
.content .scroll .text .title {
  margin: 130px 80px auto auto;
  text-align: end;
  font-family: "Source Code Pro";
  font-weight: 500;
  font-size: 45px;
  color: #5d6b6b;
}
.content .scroll .text .text {
  margin: 20px 50px 30px auto;
  width: 42%;
  height: auto;
}
.content .scroll .text .text .line {
  padding-top: 30px;
  padding-bottom: 10px;
  justify-content: space-between;
  display: flex;
}
.content .scroll .text .text .line .column {
  width: 50%;
  font-family: "Source Code Pro";
  font-weight: 500;
  font-size: 30px;
  text-align: end;
}
.content .scroll .text .text .line .price {
  padding-left: 30px;
  text-align: center;
}
.content .scroll .text .text .description {
  text-align: center;
  letter-spacing: -0.5px;
}
.content .scroll .text .text .border {
  width: 100%;
  height: auto;
  border: 2px solid #5d6b6b;
  border-radius: 60px;
  display: none;
}
.content .scroll .container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}
.content .scroll .vdcard {
  top: 150px;
  position: absolute;
  background-size: contain;
  background-size: 50%;
  background-repeat: no-repeat;
  height: 100%;
  max-height: 700px;
  width: 100%;
  z-index: 100;
}
.content .scroll .laptop {
  top: 190px;
  position: absolute;
  background-size: contain;
  background-size: 50%;
  background-repeat: no-repeat;
  height: 100%;
  max-height: 700px;
  width: 100%;
  z-index: 100;
}
.content .scroll .computer {
  top: 80px;
  position: absolute;
  background-size: contain;
  background-size: 37%;
  background-repeat: no-repeat;
  height: 100%;
  max-height: 700px;
  width: 100%;
  z-index: 100;
}/*# sourceMappingURL=style.css.map */